/* CSS RESET*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
}

header{
    background-color: black ;
    height: 82px;
}


.menu{
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 1400;
    height: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.container-grid{
    width: 1400;
    margin: 0 auto;
}

.banner{
    background-image: url(../img/BANNER.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;

}

.texto-banner a {
    padding: 15px;
    color: white;
    background-color: red;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    
}

.itens-banner{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.texto-banner{
    color: white;
    text-align: center;
    width: 495px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.jogos{
    height: 100px;
    background-color:white;
}

.promocoes{
    padding-top: 30px;
    background: linear-gradient(0.22deg, #0905A3 0.64%, rgba(9, 5, 163, 0.856621) 24.9%, rgba(9, 5, 163, 0.78) 62.06%, rgba(9, 5, 163, 0.88) 93.58%, rgba(9, 5, 163, 0.63) 101.4%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
}



.container1{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1800px;
    margin: auto;
    
}

.promocoes h2{
    color: white;
    font-size: 27px;
}

.espaco-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-left: 45px ;
}

.cardnews{
    width: 15em;
    height: 22.5em;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    color: #fff;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px rgb(0 0 0), 0px 0px 30px rgb(0 0 0);
}

.cardnews{
    width: 15em;
    height: 22em;
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
}

.cardnews a{
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 2;
    background-color: red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.cardnews img{
    width: 100%;
}

img, svg{
    vertical-align: middle;
}

.textogamefotos{
    width: 85%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.secaosobre{
    background: #00095C;
    align-items: center;
    text-align: center;
}

.conteudo-sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
}

.texto-sobre{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
}

.texto-sobre h2{
    text-align: center;
    align-items: center;
}

.texto-sobre a{
    color: white;
    text-transform: uppercase;
}